body {
  font-family: Arial;
}

.tabs-wrapper {
  display: inline-block;;
}

.tabs-container {
  margin: 0;
  padding: 0;
  display: flex;
}

.tab-title {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid black;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab-title:hover {
  background: black;
  color: white;
}

.tab-content {
  border: 1px solid black;
  padding: 10px;
}

.clock {
  text-align: center;
  display: inline-block;
  padding: 15px;
  border: 1px solid black;
}

.weather {
  text-align: center;
  min-width: 200px;
  display: inline-block;
  padding: 15px;
  border: 1px solid black;
}

.auto-complete {
  padding: 20px;
  border: 1px solid black;
  display: inline-block;
}






/* AutoComplete */

 .auto-enter {
   opacity: 0.01;
   transform: translateX(-500%);
 }

 .auto-enter.auto-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 500ms, transform 500ms;
 }

 .auto-leave {
   opacity: 1;
   transform: translateY(0);
 }

 .auto-leave.auto-leave-active {
   opacity: 0.01;
   transform: translateX(500%);
   transition: opacity 500ms, transform 500ms;
 }
